body,
html,
#root,
.App {
   margin: 0;
   padding: 0;
   height: 100%;
}
* {
   box-sizing: border-box;
}
.App {
   font-family: sans-serif;
   text-align: center;
}
main {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: flex-start;
   align-content: flex-start;
}
main > div {
   display: inline-flex;
}

main > .description {
   padding: 10px 20px;
   margin: 10px 0;
}

#unassigned .bonus {
   display: none;
}

#assigned .bonus {
   display: block;
}

#unassigned .description {
   display: block;
}

#assigned .description {
   display: none;
}

.description {
   text-align: left;
}

.description ul {
   padding-left: 0;
}
.description ul li {
   list-style: none;
}

footer {
   text-align: left;
   padding: 25px 0;
   margin: 25px;
   border-top: 1px solid;
}

.tooltip {
   position: relative;
}

.tooltip__content {
   text-align: left;
   white-space: normal;
   position: absolute;
   border: 1px solid;
   background: white;
   border-radius: 4px;
   padding: 3px;
   visibility: hidden;
   max-width: 300px;
   width: max-content;
   display: block;
   z-index: 9;
}
.tooltip:hover .tooltip__content {
   visibility: visible;
}
.tooltip__content p {
   margin: 0 0 0.5em 0;
}
.tooltip__content p:last-child {
   margin-bottom: 0;
}

header {
   position: relative;
}
header img {
   position: fixed;
   top: 10px;
   right: 10px;
}

